* { /* Reset */
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: 'Lato', sans-serif;
	vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}
:root { /* Colores */
    --negro-luz-2: #7C7C7C;
    --negro-luz-1: #3E3E3E;
    --negro: #000000;

    --negro-transparente-1: rgba(0, 0, 0, 0.67);

    --blanco: #FFFFFF;

    --primario-luz-2: #A7C9D3;
    --primario-luz-1: #63A3B5;
    --primario: #3E8498;
    --primario-sombra-1: #215C6C;
    --primario-sombra-2: #103843;

    --secundario-luz-2: #ABB4DB;
    --secundario-luz-1: #7887C7;
    --secundario: #4D5EA6;
    --secundario-sombra-1: #273570;
    --secundario-sombra-2: #101734;

    --acento-luz-2: #8EFCAF;
    --acento-luz-1: #4FE87D;
    --acento: #01CF3F;
    --acento-sombra-1: #01952E;
    --acento-sombra-2: #00581B;

    --extra-luz-2: #FFD362;
    --extra-luz-1: #F2BB2C;
    --extra: #D99F09;

    --primario-transparente-1: rgba(62, 132, 152, 0.93);
    --secundario-transparente-1: rgba(77, 93, 166, 0.93);
    --extra-transparente-1: rgba(217, 158, 9, 0.93);

    /* Colores Hero */
    --primario-hero-luz-1: #576082;
    --primario-hero: #374168;
    --primario-hero-sombra-1: #1D233B;

    --secundario-hero-luz-2: #A87EDD;
    --secundario-hero-luz-1: #905FCF;
    --secundario-hero: #6826BD;
    --secundario-hero-sombra-1: #48108F;

    --acento-hero-luz-1: #FFD354;
    --acento-hero: #F8C225;
    --acento-hero-sombra-1: #DBA814;

    --primario-hero-transparente-1: rgba(55, 65, 104, 0.7);
    --primario-hero-transparente-2: rgba(55, 65, 104, 0.99);

    /* Sombras */
    --sombra-1: 0px 3px 4px 2px var(--negro-transparente-1);
    --sombra-2: 0px 10px 40px 2px var(--secundario-hero), 0px -10px 40px 5px var(--secundario-hero) inset;
}
body {
    background: var(--primario);
}
body.hero {
    background: var(--primario-hero);
}
h1 {
    font-size: 32.7px;
}
h2 {
    font-size: 25.6px;
}
p {
    font-size: 18.6px;
}
p.small {
    font-size: 12px;
}
h1.super {
    font-size: 60px; /* Super para móvil */
}
h1.bold, h2.bold, p.bold, span.bold, button.bold {
    font-weight: bold;
}
h1.underline, h2.underline, p.underline, span.underline {
    text-decoration: underline;
}
button {
    padding: 10%;
    font-size: 18.6px;
    color: var(--primario-sombra-2);
    text-align: center;
    background: var(--acento-luz-1);
    border-radius: 5px;
    box-shadow: var(--sombra-1);
    cursor: pointer;
    transition: background-color 0.5s;
}
button:hover {
    background-color: var(--acento-luz-2);
}
main.hero button:hover {
    background-color: var(--acento-hero-sombra-1);
}
header { /* header v */
    position: sticky;
    top: 0px;
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
    background: var(--secundario);
    box-shadow: var(--sombra-1);
    z-index: 1;
}
header input, header > div:last-child img.icono-carrito, header > div:last-child img.icono-campana {
    display: none;
}
header > div:last-child img.icono-carrito, header > div:last-child img.icono-campana {
    width: 30px;
}
header input {
    padding: 1.5%;
    font-size: 18.6px;
    background: var(--secundario-sombra-1);
    border-radius: 5px;
}
header input::placeholder, header input {
    color: var(--secundario-luz-1);
}
header > div {
    display: flex;
    justify-content: space-between;
}
header > div:first-child, header > div:last-child {
    width: 35%;
}
header img.header-logo {
    width: 85%;
}
header > div:last-child > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div:last-child > div img:first-child {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: 50%;
    border: 2px var(--primario-luz-2) solid;
    border-radius: 5px;
}
/* Home */
main.inicio {
    color: var(--blanco);
}
main > section.mas-jugados { /* Sección más jugados v */
    padding: 0% 0% 3% 0%;
    background-image: url("../img/fondo-juegos-1.png");
    background-size: cover;
    height: fit-content;
}
main > section.mas-jugados div {
    display: flex;
    margin: 2% 2px 0px 2px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 8px;
}
main > section.mas-jugados h1 {
    text-align: center;
    -webkit-text-stroke: 2px var(--negro); /* Agrega border al texto */
    color: var(--blanco);
    background: var(--secundario-transparente-1);
}
main > section.mas-jugados article {
    width: 175px;
    height: 100px;
}
main > section.mas-jugados article > img {
    width: 100%;
    height: inherit;
    border-radius: 5px;
}

/*Con -scrollbar display:none quitamos la scrollbar
(la cual es muy molesta cuando usas el movil, 
ademas si no lo quitamos, los carrouseles tendran scrollbar y no queda bien)*/
::-webkit-scrollbar {
    display: none;
}

/*esto no funciona en firefox */
::-moz-scrollbar {
    display: none;
}    

.contenedorCarrousel{
    padding: 5px;
    align-items: center;
}

.contenedorCarrousel > .btn{
    display: none;
}

.contenedorCards{
    display: flex;
    overflow: auto;
    border-radius: 15px;
}

.contenedorCards > li{
    margin: 3% 2% 3% 0%;
}

.contenedorCards > li > img{
    width: 175px;
    height: 100px;
    border-radius: 5px;
}

/*card de las categorias*/
.contenedorCards > .cardCarrouselDoble > img {
    width: 200px;
    height: 140px;
}



footer { /* Fat Footer */
    display: flex;
    flex-direction: column;
    padding: 3%;
    color: var(--secundario-sombra-2);
    background: var(--secundario);
}
footer > section {
    margin: 0% 0% 8% 0%;
}
footer > section > p {
    margin: 0px 0px 5px 0px;
}
footer > section > p:last-child {
    margin: 0px;
}
footer > section:last-child {
    display: flex;
    flex-direction: column;
}
footer > section:last-child > a.footer-logo {
    align-self: center;
}
footer > section:last-child > div.footer-redes {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: space-evenly;
}
footer > section:last-child > div.footer-redes > a > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    border: 3px var(--secundario-sombra-2) solid;
    background: var(--secundario);
    box-shadow: var(--sombra-1);
}
footer a.footer-logo img {
    width: 246px;
    margin: 0% 0% 8% 0%;
}
/* /Footer */
/* 4 en linea */
main.juego-pagina {  /* main-juego v */
    color: var(--blanco);
}
section.breadcrumb { /* breadcrumb v */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 90%;
    margin: 5% auto 6% auto;
    padding: 1%;
    color: var(--primario);
    background: var(--primario-luz-2);
    border-radius: 5px;
}
section.breadcrumb a {
    color: var(--primario);
}
section.breadcrumb p {
    margin: 0% 5%;
}
h1.juego-titulo { /* previa-juego v */
    text-align: start;
}
article.juego {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/final-fantasy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 400px;
}
article.juego > div {
    width: 30%;
    padding: 5%;
    text-align: center;
    background: rgba(33, 92, 108, 0.6);
    border: 1px var(--acento) solid;
    border-radius: 5px;
}
article.juego > div > button {
    width: 100%;
}
article.juego + img { /* icono compartir */
    width: 10%;
    margin: 2% 0% 0% 0%;
}
article.juego-detalles { /* detalles-juego v */
    margin: 10% 0%;
}
article.juego-detalles h1 {
    margin: 7% 0% 4% 0%
}
article.juego-detalles > section.controles img { /* controles v */
    margin: 0% 2% 0% 0%;
}
article.juego-detalles > section.controles p {
    margin: 0% 0% 3% 0%;
}
article.juego-detalles > section.controles p:last-child {
    margin: 0%;
}
article.juego-detalles > section.tutorial img { /* tutorial v */
    width: 90%;
}
article.juego-detalles > section.comentarios form { /* Comentarios */
    display: flex;
    flex-direction: column;
    margin: 0% 0% 10% 0%;
}
article.juego-detalles > section.comentarios label, article.juego-detalles > section.comentarios input {
    font-size: 18.6px;
}
article.juego-detalles > section.comentarios input {
    width: 100%;
    margin: 4% 0%;
    padding: 3% 0%;
    color: var(--primario);
    background: var(--primario-luz-2);
    border-radius: 5px;
}
article.juego-detalles > section.comentarios input::placeholder {
    color: var(--negro-luz-2);
}
article.juego-detalles > section.comentarios button {
    width: 40%;
    padding: 3%;
    align-self: flex-end;
}
article.juego-detalles > section.comentarios article {
    position: relative;
    margin: 0% 0% 10% 0%;
}
article.juego-detalles > section.comentarios article > div:first-child {
    display: flex;
    align-items: center;
    margin: 0% 0% 5% 0%;
}
article.juego-detalles > section.comentarios article > div:first-child img {
    width: 62px;
    height: 45px;
    margin: 0% 2% 0% 0%;
    border: 2px var(--primario-luz-2) solid;
    border-radius: 5px;
}
article.juego-detalles > section.comentarios article > div > p:last-child {
    margin: 0% 0% 0% 2%;
    color: var(--primario-luz-2);
}
article.juego-detalles > section.comentarios article > p.comentario-contenido {
    margin: 0% 0% 3% 0%;
}
article.juego-detalles > section.comentarios article > img.comentario-opciones {
    position: absolute;
    top: 20px;
    right: 1%;
}
article.juego-detalles > section.comentarios article > div:last-child {
    display: flex;
}
article.juego-detalles > section.comentarios article > p.comentario-btn-responder {
    position: absolute;
    bottom: 0px;
    right: 1%;
    color: var(--primario-luz-2);
}
article.juego-detalles > section.comentarios article.comentario-respuesta {
    margin: 0% 0% 10% 5%;
}
article.juego-detalles > section.comentarios article.comentario-respuesta > p.comentario-btn-responder {
    display: none;
}
/* /4 en linea */
/* proximo lanzamiento */
header.hero { /* header v */
    background: var(--primario-hero-transparente-2);
    border-bottom: 2px var(--secundario-hero-luz-1) solid;
    box-shadow: var(--sombra-2);
}
header.hero input {
    background: var(--primario-hero-sombra-1);
}
header.hero input, header.hero input::placeholder {
    color: var(--primario-hero-luz-1);
}
main.hero section.breadcrumb { /* breadcrumb v */
    margin: 0% auto 6% auto;
    color: var(--secundario-hero);
    background: var(--secundario-hero-luz-2);
}
main.hero section.breadcrumb a {
    color: var(--secundario-hero);
}
main.hero h1.super { /* main.hero v */
    color: var(--acento-hero);
    -webkit-text-stroke: 1px var(--negro);
}
section.imagenes-superpuestas { /* imagenes superpuestas v */
    position: relative;
    height: 400px;
    padding: 5% 0% 0% 0%;
    background: url("../img/seccion-hero/smoke-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--sombra-2);
}
section.imagenes-superpuestas img {
    position: absolute;
}
section.imagenes-superpuestas img:nth-child(2) {
    width: 80%;
    left: 10%;
    top: 12%;
}
section.imagenes-superpuestas img:nth-child(3), section.imagenes-superpuestas img:last-child {
    width: 100%;
    bottom: 0%;
}
section.imagenes-superpuestas img:nth-child(3) {
    left: 0%;
}
section.imagenes-superpuestas img:last-child {
    right: 0%;
}
section.inicio-hero { /* inicio v */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    margin: -12px 0px -19px 0px;
    background: url("../img/seccion-hero/Gunfire-Reborn-portrait-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--sombra-2);
}
section.inicio-hero h1 {
    text-align: center;
    color: var(--acento-hero);
}
section.inicio-hero button {
    width: 65%;
    padding: 3%;
    color: var(--negro);
    background: var(--acento-hero);
    border: 5px var(--acento-hero-sombra-1) solid;
    box-shadow: var(--sombra-1);
}
section.inicio-hero img {
    width: 100%;
}
article.tiempo-salida { /* tiempo de salida v */
    display: flex;
    flex-direction: column;
    height: 80px;
    padding: 4%;
    text-align: center;
    background: var(--primario-hero-sombra-1);
    border-bottom: 2px var(--secundario-hero-luz-1) solid;
    box-shadow: var(--sombra-2);
}
article.tiempo-salida p > img {
    width: 25px;
}
article.tiempo-salida p:first-child {
    margin: 0px 0px 8px 0px;
    color: var(--primario-hero-luz-1);
}
article.tiempo-salida > img {
    display: none;
}
article.tiempo-salida p {
    color: var(--blanco);
}
section.historia { /* historia v */
    text-align: center;
    color: var(--blanco);
    background: var(--primario-hero-sombra-1);
    box-shadow: var(--sombra-2);
}
section.historia p {
    margin: 15px 0px;
}
section.historia p:nth-child(4) {
    margin: 15px 0px 5px 0px;
    color: var(--secundario-hero-luz-1);
}
section.historia img:last-child {
    width: 100%;
    padding: 0px 0px 25px 0px;
}
section.personajes { /* personajes v */
    height: 400px;
    padding: 1%;
    text-align: center;
    background: url("../img/seccion-hero/fondo-personajes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--sombra-2);
}
section.caracteristicas { /* caracteristicas v */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0% 0% 4% 0%;
    background: url("../img/seccion-hero/fondo-caracteristicas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--sombra-2);
    gap: 5px;
}
section.caracteristicas h1.super {
    font-size: 42px;
}
section.caracteristicas article {
    width: 48%;
    height: 255px;
    background: url("../img/seccion-hero/fondo-caracteristicas-card.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
section.caracteristicas article > div, section.caracteristicas article > div h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.caracteristicas article > div {
    justify-content: space-between;
    width: 100%;
    height: 95%;
    padding: 0% 0% 8.5% 0%;
    text-align: center;
    background: rgba(29, 35, 59, 0.98);
    border-radius: 5px;
}
section.caracteristicas article > div img {
    width: 30px;
    height: 30px;
}
section.caracteristicas article > div h2 {
    color: var(--acento-hero);
}
section.caracteristicas article > div p {
    font-weight: bold;
    color: var(--blanco);
}
section.informacion { /* informacion v */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blanco);
    background: url("../img/seccion-hero/gunfire-reborn-informacion-fondov2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section.informacion img:first-child {
    width: 80%;
}
section.informacion div p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5% 0%;
}
section.informacion div p:nth-child(2) img {
    width: 100%;
}
section.informacion div p:last-child img {
    width: 25%;
}
footer.hero { /* footer v */
    color: var(--primario-hero-luz-1);
    background: var(--primario-hero-sombra-1);
}
footer.hero > section:last-child > div.footer-redes > a > div {
    border-color: var(--primario-hero-luz-1);
    background: var(--primario-hero-sombra-1);
}
/* /proximo lanzamiento */
@media only screen and (min-width: 400px) {

    header > div:first-child, header > div:last-child { /* header v */
        width: 27%;
    }
    main > section.mas-jugados div { /* Sección más jugados v */
        justify-content: space-evenly;
        row-gap: 20px;
    }
    
    article.juego-detalles > section.comentarios button { /* comentarios v */
        width: 32%;
        padding: 2%;
    }
    section.imagenes-superpuestas { /* imagenes superpuestas v */
        height: 500px;
    }
    section.imagenes-superpuestas img:nth-child(2) {
        width: 65%;
        left: 17%;
    }
    section.inicio-hero button { /* inicio-hero v */
        width: 45%;
    }
    section.caracteristicas article > div { /* caracteristicas v */
        padding: 0% 0% 6.3% 0%;
    }
}
@media only screen and (min-width: 768px) {

    header { /* header v */
        padding: 0.8% 2%;
    }
    header input, header > div:last-child img.icono-carrito, header > div:last-child img.icono-campana {
        display: block;
    }
    header input, header > div:last-child > div {
        width: 45%;
    }
    header img.icono-busqueda {
        display: none;
    }
    header > div:first-child {
        width: 15%;
    }
    header > div:last-child {
        width: 30%;
    }
    main > section.mas-jugados div { /* Sección más jugados v */
        row-gap: 3px;
    }
    main > section.mas-jugados article {
        width: 380px;
        height: 220px;
    }
    section.breadcrumb { /* breadcrumb v */
        margin: 3% auto 4% auto;
        font-size: 18.6px;
    }
    section.breadcrumb p {
        margin: 0% 4%;
    }
    article.juego { /* previa juego v */
        height: 550px;
    }
    article.juego > div {
        width: 20%;
        padding: 2%;
    }
    article.juego > div > button {
        width: 80%;
    }
    article.juego + img { /* boton compartir v */
        width: 5%;
        margin: 1% 0% 0% 0%;
    }
    article.juego-detalles { /* juego detalles v */
        margin: 6% 0%;
    }
    article.juego-detalles h1 {
        margin: 3% 0% 1% 0%;
    }
    article.juego-detalles > section.controles img {
        margin: 0% 1% 0% 0%;
    }
    article.juego-detalles > section.controles p {
        margin: 0% 0% 2% 0%;
    }
    article.juego-detalles > section.tutorial img {
        width: 60%;
    }
    article.juego-detalles > section.comentarios form { /* Comentarios v */
        margin: 0% 0% 5% 0%;
    }
    article.juego-detalles > section.comentarios input {
        margin: 1% 0%;
        padding: 2% 0%;
    }
    article.juego-detalles > section.comentarios button {
        width: 18%;
        padding: 1.5%;
    }
    article.juego-detalles > section.comentarios article {
        margin: 0% 0% 5% 0%;
    }
    article.juego-detalles > section.comentarios article > div:first-child {
        margin: 0% 0% 2% 0%;
    }
    article.juego-detalles > section.comentarios article > div:first-child img {
        margin: 0% 1% 0% 0%;
    }
    article.juego-detalles > section.comentarios article > div > p:last-child {
        margin: 0% 0% 0% 1%;
    }
    article.juego-detalles > section.comentarios article.comentario-respuesta {
        margin: 0% 0% 5% 5%;
    }
    section.imagenes-superpuestas { /* imagenes superpuestas v */
        height: 600px;
    }
    section.imagenes-superpuestas img:nth-child(2) {
        width: 45%;
        left: 27%;
    }
    section.imagenes-superpuestas img:nth-child(3), section.imagenes-superpuestas img:last-child {
        width: 73%;
    }
    section.inicio-hero { /* inicio v */
        height: 600px;
        margin: -18px 0px -30px 0px;
    }
    section.inicio-hero button {
        width: 25%;
        padding: 2%;
    }
    section.inicio-hero img {
        width: 75%;
    }
    article.tiempo-salida { /* tiempo de salida v */
        padding: 3%;
    }
    section.historia img:last-child { /* historia v */
        width: 40%;
    }
    section.caracteristicas { /* caracteristicas v */
        gap: 13px;
    }
    section.caracteristicas h1.super {
        font-size: 60px;
    }
    section.caracteristicas article > div {
        padding: 0% 0% 3.5% 0%;
    }
    section.informacion img:first-child { /* informacion v */
        width: 50%;
    }
    section.informacion div p:nth-child(2) img, section.informacion div p:last-child img {
        margin: 0px 0px 0px 5px;
    }
    section.informacion div p:nth-child(2) img {
        width: 80%;
    }
    section.informacion div p:last-child img {
        width: 15%;
    }
    footer { /* footer v */
        flex-flow: row wrap;
    }
}
@media only screen and (min-width: 1024px) {

    h1 {
    font-size: 36.7px;
    }
    h2 {
        font-size: 29.6px;
    }
    p, button, section.breadcrumb {
        font-size: 22.6px;
    }
    p.small {
        font-size: 16px;
    }
    header { /* header v */
        padding: 0.8% 1%;
    }
    header > div:first-child {
        width: 12%;
    }
    header > div:last-child {
        width: 22%;
    }
    header input {
        padding: 1.2%;
    }
    h1.super { /* mas jugados v */
        font-size: 128px;
    }
    main > section.mas-jugados {
        padding: 0% 0% 2% 0%;
    }
    main > section.mas-jugados h1 {
        -webkit-text-stroke: 3px var(--negro);
    }
    main > section.mas-jugados article {
        width: 33%;
    }
    main.juego-pagina {
        padding: 0% 1%;
    }
    section.breadcrumb, main.hero section.breadcrumb { /* breadcrumb v */
        width: 62%;
        margin: 2% 0% 3% 0%;
    }
    section.breadcrumb p, main.hero section.breadcrumb p {
        margin: 0% 4%;
    }
    article.juego { /* previa juego v */
        height: 620px;
    }
    article.juego > div {
        width: 15%;
    }
    article.juego + img { /* boton compartir v */
        width: 4%;
    }
    article.juego-detalles { /* juego detalles v */
        margin: 3% 0%;
    }
    article.juego-detalles > section.controles p {
        margin: 0% 0% 1% 0%;
    }
    article.juego-detalles > section.tutorial img {
        width: 55%;
    }
    article.juego-detalles > section.comentarios input { /* Comentarios v */
        font-size: 22.6px;
    }
    article.juego-detalles > section.comentarios button {
        width: 16%;
        padding: 1.5% 2%;
    }
    article.juego-detalles > section.comentarios article {
        margin: 0% 0% 3% 0%;
    }
    article.juego-detalles > section.comentarios article > div:first-child img {
        width: 72px;
        height: 55px;
    }
    article.juego-detalles > section.comentarios article.comentario-respuesta {
        margin: 0% 0% 3% 4%;
    }
    main.hero section.breadcrumb { /* breadcrumb hero v */
        width: 35%;
    }
    section.imagenes-superpuestas { /* imagenes superpuestas v */
        height: 700px;
        padding: 1% 0% 0% 0%;
    }
    section.imagenes-superpuestas img:nth-child(2) {
        width: 40%;
        left: 30%;
    }
    section.imagenes-superpuestas img:nth-child(3), section.imagenes-superpuestas img:last-child {
        width: 65%;
    }
    section.inicio-hero { /* inicio v */
        height: 700px;
    }
    section.inicio-hero h1 {
        align-self: flex-end;
        margin: -100px 30px 0px 0px;
    }
    section.inicio-hero button {
        padding: 1.5%;
    }
    section.inicio-hero img {
        align-self: flex-start;
        width: 55%;
        margin: 0px 0px -100px 30px;
    }
    article.tiempo-salida { /* tiempo de salida v */
        flex-direction: row;
        align-items: center;
        padding: 3%;
    }
    article.tiempo-salida > img {
        display: block;
    }
    article.tiempo-salida p:first-child {
        margin: 0% 3% 0% 0%;
    }
    article.tiempo-salida p:last-child {
        margin: 0% 0% 0% 7%;
    }
    section.caracteristicas { /* caracteristicas v */
        gap: 15px;
    }
    section.caracteristicas article {
        width: 30%;
    }
    section.caracteristicas h1.super {
        font-size: 128px;
    }
    section.caracteristicas article > div {
        padding: 0% 0% 4.2% 0%;
    }
    section.informacion { /* informacion v */
        flex-direction: row;
        justify-content: center;
    }
    section.informacion img:first-child {
        width: 45%;
    }
    section.informacion div p:nth-child(2) img {
        width: 95%;
    }
    section.informacion div p:last-child img {
        width: 20%;
        margin: 0px 0px 0px 40px;
    }
    footer { /* Fat Footer v */
        justify-content: center;
        padding: 1%;
    }
    footer > section {
        margin: 0% 2% 1% 0%;
    }
    footer > section:last-child > div.footer-redes {
        justify-content: space-between;
    }
}
@media only screen and (min-width: 1440px) {

    header { /* header v */
        padding: 0.4% 1%;
    }
    header > div:first-child {
        width: 9%;
    }
    header > div:last-child {
        width: 16%;
    }
    header input {
        padding: 0.9%;
    }
    main > section.mas-jugados { /* mas jugados */
        padding: 0% 0% 1.7% 0%;
    }
    main > section.mas-jugados div {
        row-gap: 12px;
    }
    main > section.mas-jugados article {
        width: 32%;
    }
    section.breadcrumb, main.hero section.breadcrumb { /* breadcrumb v */
        width: 44%;
    }
    article.juego > div { /* previa juego v */
        width: 12%;
        padding: 1.3%;
    }
    article.juego + img { /* boton compartir v */
        width: 3.5%;
    }
    article.juego-detalles { /* juego detalles v */
        margin: 1% 0%;
    }
    article.juego-detalles h1 {
        margin: 2% 0% 1% 0%;
    }
    article.juego-detalles > section.tutorial img {
        width: 38%;
    }
    article.juego-detalles > section.comentarios input { /* Comentarios v */
        margin: 0.7% 0%;
        padding: 1.3% 0%;
    }
    article.juego-detalles > section.comentarios button {
        width: 11%;
        padding: 1% 0%;
    }
    article.juego-detalles > section.comentarios article {
        margin: 0% 0% 1.8% 0%;
    }
    article.juego-detalles > section.comentarios article.comentario-respuesta {
        margin: 0% 0% 1.8% 2.5%;
    }
    article.juego-detalles > section.comentarios article > div:first-child, article.juego-detalles > section.comentarios article > p.comentario-contenido {
        margin: 0% 0% 1% 0%;
    }
    article.juego-detalles > section.comentarios article > div > p:last-child {
        margin: 0% 0% 0% 0.5%;
    }
    main.hero section.breadcrumb { /* breadcrumb hero v */
        width: 23%;
    }
    section.imagenes-superpuestas { /* imagenes superpuestas v */
        height: 800px;
    }
    section.imagenes-superpuestas img:nth-child(2) {
        width: 32%;
        left: 34%;
        top: 6%;
    }
    section.imagenes-superpuestas img:nth-child(3), section.imagenes-superpuestas img:last-child {
        width: 60%;
    }
    section.inicio-hero h1 { /* inicio-hero v */
        margin: -100px 80px 0px 0px;
    }
    section.inicio-hero button {
        width: 16%;
        padding: 1%;
    }
    section.inicio-hero img {
        width: 45%;
        margin: 0px 0px -100px 60px;
    }
    article.tiempo-salida { /* tiempo de salida v */
        padding: 2%;
    }
    article.tiempo-salida p:first-child {
        margin: 0% 5% 0% 2%;
    }
    article.tiempo-salida p:last-child {
        margin: 0% 0% 0% 16.5%;
    }
    article.tiempo-salida > img {
        height: 90px;
    }
    section.historia img:last-child { /* historia v */
        width: 30%;
    }
    section.caracteristicas h1.super { /* caracteristicas v */
        margin: 0% 15%;
    }
    section.caracteristicas article {
        width: 30%;
        height: 386px;
    }
    section.caracteristicas article > div {
        padding: 0% 0% 4.5% 0%;
    }
    section.informacion img:first-child { /* informacion v */
        width: 35%;
    }
    section.informacion div p:nth-child(2) img {
        width: 80%;
    }
    footer { /* Fat Footer v */
        justify-content: space-around;
    }
    footer > section {
        margin: 0% 0% 1% 0%;
    }
}
@media only screen and (min-width: 1800px) {

    main > section.mas-jugados article { /* mas jugados v */
        width: 25%;
    }
    main > section.mas-jugados div {
        justify-content: center;
        gap: 50px;
    }
    section.breadcrumb { /* breadcrumb v */
        width: 35%;
        padding: 0.5%;
    }
    article.juego { /* previa juego v */
        height: 770px;
    }
    article.juego + img { /* icono compartir */
        width: 3%;
        margin: 0.5% 0% 0% 0%;
    }
    section.imagenes-superpuestas { /* imagenes superpuestas */
        height: 950px;
    }
    section.imagenes-superpuestas img:nth-child(3), section.imagenes-superpuestas img:last-child {
        width: 55%;
    }
    section.imagenes-superpuestas img:nth-child(2) {
        width: 26%;
        left: 37%;
    }
    section.inicio-hero { /* inicio hero */
        height: 1040px;
    }
}

@media (min-width: 700px){
    .carrousel{
        margin: 0 2% 0 2%;
    }

    .carrousel>h2:first-child{
        margin: 0 0 0 6.5%;
    }

    .contenedorCarrousel{
        padding: 5px;
        align-items: center;
        display: flex;
    }

    .contenedorCarrousel > .btn{
        display: flex;
    }

    .contenedorCards{
        margin: 0 5px 0 5px;
        overflow: hidden;
    }

    .contenedorCards > li{
        margin: 1% 1% 1% 0%;
        transition: .5s ease-in-out;
    }

    .contenedorCards > li.pagina2{
        transform: translate(0px);
    }

    .contenedorCards > li.pagina2{
        transform: translate(-1175px);
    }

    .contenedorCards > li.pagina3{
        transform: translate(-2350px);
    }

    .contenedorCards > li > img{
        width: 380px;
        height: 220px;
    }

    .btn{
        flex-shrink: 0;
        width: 80px;
        height: 80px;
    }

    .btnCarrouselAtras{
        background-image: url(../img/Carrousel_Flecha.svg);
    }
    
    .btnCarrouselSig{
        background-image: url(../img/Carrousel_Flecha.svg);
        transform: rotate(180deg);
    }
    
    .btn.btnApagado{
        background-image: url(../img/Carrousel_flecha_apagada.svg);
    }
    .contenedorCards > li > img{
        width: 380px;
        height: 220px;
    }
}