* { /* Reset */
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: Helvetica, Arial, sans-serif;
	vertical-align: baseline;
    list-style: none;
}
:root { /* Colores */
    --negro-luz-2: #7C7C7C;
    --negro-luz-1: #3E3E3E;
    --negro: #000000;

    --negro-transparente-1: rgba(0, 0, 0, 0.67);

    --blanco: #FFFFFF;

    --primario-luz-2: #A7C9D3;
    --primario-luz-1: #63A3B5;
    --primario: #3E8498;
    --primario-sombra-1: #215C6C;
    --primario-sombra-2: #103843;

    --secundario-luz-2: #ABB4DB;
    --secundario-luz-1: #7887C7;
    --secundario: #4D5EA6;
    --secundario-sombra-1: #273570;
    --secundario-sombra-2: #101734;

    --acento-luz-2: #8EFCAF;
    --acento-luz-1: #4FE87D;
    --acento: #01CF3F;
    --acento-sombra-1: #01952E;
    --acento-sombra-2: #00581B;

    --extra-luz-2: #FFD362;
    --extra-luz-1: #F2BB2C;
    --extra: #D99F09;

    --primario-transparente-1: rgba(62, 132, 152, 0.93);
    --secundario-transparente-1: rgba(77, 93, 166, 0.93);
    --extra-transparente-1: rgba(217, 158, 9, 0.93);

    /* Colores Hero */
    --primario-hero-luz-1: #576082;
    --primario-hero: #374168;
    --primario-hero-sombra-1: #1D233B;

    --secundario-hero-luz-2: #A87EDD;
    --secundario-hero-luz-1: #905FCF;
    --secundario-hero: #6826BD;
    --secundario-hero-sombra-1: #48108F;

    --acento-hero-luz-1: #FFD354;
    --acento-hero: #F8C225;
    --acento-hero-sombra-1: #DBA814;

    --primario-hero-transparente-1: rgba(55, 65, 104, 0.7);
    --primario-hero-transparente-2: rgba(55, 65, 104, 0.99);

    /* Sombras */
    --sombra-1: 0px 3px 4px 2px var(--negro-transparente-1);
    --sombra-2: 0px 10px 40px 2px var(--secundario-hero), 0px -10px 40px 5px var(--secundario-hero) inset;
}
body {
    background: var(--primario);
}
h1 {
    font-size: 36.7px;
}
h2 {
    font-size: 29.6px;
}
p {
    font-size: 22.6px;
}
p.small {
    font-size: 16px;
}
h1.super {
    font-size: 60px; /* Super para móvil */
}
h1.bold, h2.bold, p.bold, span.bold {
    font-weight: bold;
}
h1.underline, h2.underline, p.underline, span.underline {
    text-decoration: underline;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--secundario);
    box-shadow: var(--sombra-1);
}
main > section:first-child { /* Sección más jugados v */
    background-image: url("../img/fondo-juegos-1.png");
    height: 400px;
}
main > section:first-child div {
    display: flex;
    margin: 10px 2px 0px 2px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
main > section:first-child h1 {
    text-align: center;
    -webkit-text-stroke: 1.5px var(--negro); /* Agrega border al texto */
    color: var(--primario-luz-2);
    background: var(--secundario-transparente-1);
}
main > section:first-child article {
    width: 49.5%;
}
main article > img {
    width: 100%;
}

/*Con -scrollbar display:none quitamos la scrollbar
(la cual es muy molesta cuando usas el movil, 
ademas si no lo quitamos, los carrouseles tendran scrollbar y no queda bien)*/
::-webkit-scrollbar {
    display: none;
}

/*esto no funciona en firefox */
::-moz-scrollbar {
    display: none;
}    

.contenedorCarrousel{
    padding: 5px;
    align-items: center;
}

.contenedorCarrousel > .btn{
    display: none;
}

.contenedorCards{
    display: flex;
    overflow: auto;
    border-radius: 15px;
}

.contenedorCards > li{
    margin: 3% 2% 3% 0%;
}

.contenedorCards > li > img{
    width: 175px;
    height: 100px;
    border-radius: 5px;
}

/*card de las categorias*/
.contenedorCards > .cardCarrouselDoble > img {
    width: 200px;
    height: 140px;
}


main > article:last-child { /* Presentacion del sitio v */
    padding: 5%;
    text-align: center;
    color: var(--blanco);
    background: var(--primario-luz-1);
}
main > article:last-child h2 + p {
    margin: 3% 0% 10% 0%;
}
main > article:last-child h2 + p:last-child {
    margin: 3% 0% 0% 0%;
}
main > article:last-child ul {
    width: 84%;
    margin: 0px auto;
}
main > article:last-child ul li {
    margin-bottom: 3%;
    font-size: 22.6px;
    list-style: disc;
}
footer { /* Fat Footer */
    padding: 3%;
    text-align: center;
    color: var(--blanco);
    background: var(--secundario);
}
footer > section {
    padding: 0% 0% 2% 0%;
    border-radius: 5px;
    background-color: var(--secundario-sombra-1);
}
footer > section > p.underline {
    padding: 2%;
    background: var(--secundario);
}
footer > section > p {
    margin: 0px 0px 5px 0px;
}
footer > section > p:last-child {
    margin: 0px;
}
footer > section > input {
    height: 33px;
    font-size: 22.6px;
    border: 1px var(--negro) inset;
    border-radius: 7px;
    background: url("../img/icono\ mail.svg") var(--secundario-luz-1) no-repeat 5px 0px;
}
footer > section > input:focus {
    background: var(--secundario-luz-1);
}
footer > section > input::placeholder {
    padding-left: 18%;
    color: var(--negro-transparente-1);
}
footer > section > div {
    display: flex;
    width: fit-content;
    margin: 0px auto;
}
footer > section a > div {
    width: 66px;
    height: 55px;
    text-align: center;
    border-radius: 100%;
    border: 3px var(--secundario-sombra-2) inset;
    background: var(--primario);
    box-shadow: var(--sombra-1);
}
footer > section div > img {
    margin: 17%;
}
footer > a > img {
    margin-top: 20px;
}

@media (min-width: 700px){
    .carrousel{
        margin: 0 2% 0 2%;
    }

    .carrousel>h2:first-child{
        margin: 0 0 0 6.5%;
    }

    .contenedorCarrousel{
        padding: 5px;
        align-items: center;
        display: flex;
    }

    .contenedorCarrousel > .btn{
        display: flex;
    }

    .contenedorCards{
        margin: 0 5px 0 5px;
        overflow: hidden;
    }

    .contenedorCards > li{
        margin: 1% 1% 1% 0%;
        transition: .5s ease-in-out;
    }

    .contenedorCards > li.pagina2{
        transform: translate(0px);
    }

    .contenedorCards > li.pagina2{
        transform: translate(-1175px);
    }

    .contenedorCards > li.pagina3{
        transform: translate(-2350px);
    }

    .contenedorCards > li > img{
        width: 380px;
        height: 220px;
    }

    .btn{
        flex-shrink: 0;
        width: 80px;
        height: 80px;
    }

    .btnCarrouselAtras{
        background-image: url(../img/Carrousel_Flecha.svg);
    }
    
    .btnCarrouselSig{
        background-image: url(../img/Carrousel_Flecha.svg);
        transform: rotate(180deg);
    }
    
    .btn.btnApagado{
        background-image: url(../img/Carrousel_flecha_apagada.svg);
    }
    .contenedorCards > li > img{
        width: 380px;
        height: 220px;
    }
}